.wrapper
  = render partial: "shared/side-bar"
  .chat
    .header
      .left-header
        .left-header__group-name
          = @group.name
        .left-header__group-members
          Member:
          - @group.users.each do |user|
            .group-member
            = user.name
      .right-header
        = link_to edit_group_path(@group) do
          Edit
    .messages
      = render @messages
    .message-form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'message-text', placeholder: "type a message"
        .image-form
          = f.label :image, class: 'image-form__message-image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form-submit'
